.add-form{
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  background: #cedde3;
  padding: 20px 5%;
  box-sizing: border-box;
  border-radius: 10px;
  form{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .form-field {
      width: 100%;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
      label {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease;
        color: #595959;
      }
      input {
        padding: 0 10px;
        height: 30px;
        width: 100%;
        border: none;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        &:focus {
          outline: none;
          box-shadow: inset 0 0 5px 0 #217694;
          & + label{
            left: 110%;
            opacity: 0;
          }
        }
        &.dirty{
          & + label{
            left: 110%;
            opacity: 0;
          }
        }
      }
    }
    button{
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 5px;
      background: #9dc1d0;
      text-transform: uppercase;
      transition: all 0.2s ease;
      &:hover{
        background: #7eb6ce;
      }
      &:focus, &:active {
        outline: none;
        background: #659AB2;
      }
    }
  }
}